@use "sass:color";
@use "sass:map";
@use "config/material/bootstrap.forward" as *;

[data-bs-theme="dark"] {
  .card {
    background: #151414 !important;
  }
  .card-header {
    background: #151414 !important;
  }
  .offcanvas {
    background: #151414 !important;
  }
}
